WHISPER_API_KEY=replace-with-a-long-random-secret
WHISPER_DATA_DIR=./data
WHISPER_MODEL_NAME=small
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
WHISPER_CPU_THREADS=2
WHISPER_NUM_WORKERS=1
WHISPER_MAX_UPLOAD_MB=100
WHISPER_LOG_LEVEL=INFO
